<section class="about-section-wrapper">
  <div class="about-content">
    <div class="about-text">
      <h2>The home of fresh products</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum, saepe,
        aspernatur, explicabo molestiae libero eligendi odio corrupti soluta
        rerum assumenda iusto modi vitae officia exercitationem obcaecati
        pariatur dolores sit perferendis?
      </p>
      <a href="" class="about-place-order-button">Place an order</a>
    </div>
    <div class="about-image">
      <img src="./assets/about-image.png" />
    </div>
  </div>
</section>
