<section class="step-section">
  <h1 class="step-h1">How it works.</h1>
  <div class="step-content-wrapper">
    <div class="step step-1">
      <img
        ngSrc="./assets/Step-01.png"
        loading="lazy"
        width="333"
        height="266"
      />
      <h5 class="step-h5">Adapt Your Menu Items</h5>
      <p class="step-p">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, sit.
      </p>
    </div>
    <div class="step step-2">
      <img
        ngSrc="./assets/Step-02.png"
        loading="lazy"
        width="333"
        height="266"
      />
      <h5 class="step-h5">Accept Online Orders & Takeout</h5>
      <p class="step-p">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, sit.
      </p>
    </div>
    <div class="step step-3">
      <img
        ngSrc="./assets/Step-03.png"
        loading="lazy"
        width="333"
        height="266"
      />
      <h5 class="step-h5">Manage Delivery or Takeout</h5>
      <p class="step-p">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, sit.
      </p>
    </div>
  </div>
</section>
