@import "../../../styles.scss";

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
}

nav {
  display: block;
  width: 100%;
  padding: 20px 0;
  max-width: 1200px;
  margin: 0px auto;
  background-color: white !important;
  ul {
    .active {
      color: $primary-blue;
      font-weight: 400;

      &:hover {
        color: $primary-blue;
      }
    }
    a {
      padding: 20px 15px;
      font-weight: 300;
      cursor: pointer;
      color: $typo-p;
      transition: 0.5s;

      &:hover {
        color: $typo-header;
        font-weight: 400;
        transition: 0.5s;
      }
    }
  }

  .navbar-toggler {
    width: 55px;
    height: 55px;
    outline: none;
    border: none;
    background-color: rgba(126, 130, 143, 0.1);
    padding: 13px;
    border-radius: 5px;

    &:focus,
    &:active {
      outline: none !important;
      border: none !important;
      box-shadow: none;
    }

    .navbar-toggler-icon {
      background-image: url("../../../assets/bar.png");
      max-width: 15px;
      max-height: 15px;
      padding: 13px;
    }

    .navbar-toggler-icon.collapsed {
      background-image: url("../../../assets/close.png");
      padding: 10px;
    }
  }
  .nav-button {
    position: relative;
    border-radius: 5px;
    padding: 13px !important;
    background: $primary-blue url("../../../assets/button-wave.svg") left
      no-repeat;
    width: 55px;
    height: 55px;
    .shopping-cart {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .shop-quantity {
      position: absolute;
      top: -6px;
      right: -6px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 !important;
      height: 25px;
      min-width: 25px;
      border-radius: 50%;
      background-color: white;
      color: $primary-blue;
      box-shadow: 7px 7px 25px 0 rgba(126, 130, 143, 0.27);
      font-weight: 600;
      font-size: 13px;
    }
  }
}

@media all and (min-width: 1000px) {
  .nav-button {
    position: absolute;
  }
}

@media all and (max-width: 1300px) {
  nav {
    padding: 20px 5%;
  }
}
