<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"
        ><img ngSrc="./assets/Logo.svg" width="40" height="51" priority
      /></a>
      <button
        class="navbar-toggler ms-auto me-2"
        (click)="toggleCollapse()"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span
          class="navbar-toggler-icon"
          [class.collapsed]="isCollapsed"
        ></span>
      </button>
      <a *ngIf="pageWidth <= 992" class="nav-button nav-link">
        <img
          class="shopping-cart"
          ngSrc="./assets/shopping-cart.svg"
          width="18"
          height="18"
          priority
        />
        <div class="shop-quantity">0</div>
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/order">Order</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/company">Company</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/faq">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
          <li class="nav-item"></li>
        </ul>
        <a *ngIf="pageWidth > 992" class="nav-button nav-link">
          <img
            class="shopping-cart"
            ngSrc="./assets/shopping-cart.svg"
            width="18"
            height="18"
            priority
          />
          <div class="shop-quantity">0</div>
        </a>
      </div>
    </div>
  </nav>
</header>
