<header>
  <nav>
    <div class="logo">
      <img ngSrc="./assets/Logo.svg" width="40" height="51" priority />
    </div>
    <div class="nav-links">
      <ul>
        <a class="active">Home</a>
        <a>Order</a>
        <a>Company</a>
        <a>FAQ</a>
        <a>Contact</a>
        <a class="nav-button">
          <img
            class="shopping-cart"
            ngSrc="./assets/shopping-cart.svg"
            width="18"
            height="18"
            priority
          />
          <div class="shop-quantity">0</div>
        </a>
      </ul>
    </div>
  </nav>
</header>
