@import "../../../styles.scss";

p {
  background: $primary-blue url("../../../assets/banner-wave.svg") center;
  color: $primary-white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px 48px;
  font-weight: 300;
  font-size: 15px;

  span {
    margin-left: 4px;
    color: white;
    font-weight: 500;
  }
}

@media all and (max-width: 560px) {
  p {
    padding: 15px 10px;
  }
}

@media all and (max-width: 480px) {
  p {
    display: none;
  }
}
