@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

$primary-blue: #35b8be;
$primary-white: #f5fbfc;
$primary-coral: #ff8946;
$typo-header: #191b22;
$typo-p: #546285;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  overflow-x: hidden;
}

.max-width-default {
  max-width: 1200px;
}

.pad-48 {
  padding: 48px;
}

p {
  margin-bottom: 10px;
  color: $typo-p;
  line-height: 1.5;
  letter-spacing: -0.02em;
}
