<section class="menu-section">
  <h1 class="menu-h1">Browse Our Menu</h1>
  <p class="menu-p">
    Use our menu to place an order online, or
    <span class="menu-span">phone</span> our store to place a pickup order. Fast
    and fresh food.
  </p>
  <div class="menu-button-div">
    <button
      (click)="setActiveCategory('burgers')"
      [ngClass]="{
        'menu-button-css': activeCategory === 'burgers',
        'menu-button-clear': activeCategory !== 'burgers'
      }"
    >
      Burgers
    </button>
    <button
      (click)="setActiveCategory('sides')"
      [ngClass]="{
        'menu-button-css': activeCategory === 'sides',
        'menu-button-clear': activeCategory !== 'sides'
      }"
    >
      Sides
    </button>
    <button
      (click)="setActiveCategory('drinks')"
      [ngClass]="{
        'menu-button-css': activeCategory === 'drinks',
        'menu-button-clear': activeCategory !== 'drinks'
      }"
    >
      Drinks
    </button>
  </div>
  <div class="menu-content">
    <div *ngIf="activeCategory === 'burgers'" class="menu-content">
      <div *ngFor="let burger of products?.burgers" class="menu-item">
        <div class="menu-item-img">
          <img
            [src]="burger.photoUrl"
            width="120"
            height="120"
            loading="lazy"
          />
        </div>
        <div class="menu-item-content">
          <div class="menu-item-content-header">
            <h4>{{ burger.name }}</h4>
            <p>$ {{ burger.price.toFixed(2) }} USD</p>
          </div>
          <div class="menu-item-content-main">
            <p>{{ burger.description }}</p>
          </div>
          <div class="menu-item-content-footer">
            <input type="number" id="food-quantity1" min="1" max="99" />
            <input type="button" value="Add to Cart" />
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="activeCategory === 'sides'" class="menu-content">
      <div *ngFor="let side of products?.sides" class="menu-item">
        <div class="menu-item-img">
          <img [src]="side.photoUrl" width="120" height="120" loading="lazy" />
        </div>
        <div class="menu-item-content">
          <div class="menu-item-content-header">
            <h4>{{ side.name }}</h4>
            <p>$ {{ side.price.toFixed(2) }} USD</p>
          </div>
          <div class="menu-item-content-main">
            <p>{{ side.description }}</p>
          </div>
          <div class="menu-item-content-footer">
            <input type="number" id="food-quantity1" min="1" max="99" />
            <input type="button" value="Add to Cart" />
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="activeCategory === 'drinks'" class="menu-content">
      <div *ngFor="let drink of products?.drinks" class="menu-item">
        <div class="menu-item-img">
          <img [src]="drink.photoUrl" width="120" height="120" loading="lazy" />
        </div>
        <div class="menu-item-content">
          <div class="menu-item-content-header">
            <h4>{{ drink.name }}</h4>
            <p>$ {{ drink.price.toFixed(2) }} USD</p>
          </div>
          <div class="menu-item-content-main">
            <p>{{ drink.description }}</p>
          </div>
          <div class="menu-item-content-footer">
            <input type="number" id="food-quantity1" min="1" max="99" />
            <input type="button" value="Add to Cart" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="" class="menu-button-css">See Full Menu</a>
</section>
